.dateCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    border: solid lightgray 5px;
    width: 900px;
    box-shadow: 2px 5px 5px grey;
    background-color: white;
    margin-bottom: 20px;
}

.dateList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dateList::-webkit-scrollbar {
    display: none;
}

.newDateButton {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mealList {
    width: 800px;
}

.foodButtons {
    display: flex;
    align-items: center;
}

.foodCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.foodCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
}

.foodItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    flex-direction: row;
}

button.foodDelete.btn.btn-secondary.btn-sm {
    margin-right: 25px;
}

button.foodEdit.btn.btn-secondary.btn-sm {
    margin-right: 5px;
    margin-left: 15px;
}

button.addDayButton.btn.btn-secondary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mealCardSplit {
    display: flex;
    align-items: center;
}