.homePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #4fb6ff;
    min-height: 100vh;
}

.navImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}