.messageCardContainer {
    display: flex;
    flex-direction: column;
}

.messageButtons {
    margin-bottom: 5px;
}

button.viewMessage.btn.btn-secondary.btn-sm {
    margin-right: 5px;
    margin-left: 5px;
}

button.messageDelete.btn.btn-secondary.btn-sm {
    margin-right: 5px;
}