.userCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 500px;
}

button.addFriend.btn.btn-secondary.btn-sm {
    margin-left: 10px;
}

button.friendDetails.btn.btn-secondary.btn-sm {
    margin-right: 5px;
}

.userList {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 229px;
}

.userList::-webkit-scrollbar {
    display: none;
}

.friendsList {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 229px;
}


.friendsList::-webkit-scrollbar {
    display: none;
}

.messageList {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 400px;
}


.messageList::-webkit-scrollbar {
    display: none;
}

.myLists {
    margin-left: 10px;
}

.userPic {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}


.myFriendsCards {
    border-radius: 18px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    width: 600px;
    height: 320px;
    box-shadow: 2px 5px 5px grey;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 10px;
}

.potentialFriendsCards {
    border-radius: 18px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    width: 600px;
    height: 320px;
    box-shadow: 2px 5px 5px grey;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.myMessagesCards {
    border-radius: 18px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    width: 600px;
    margin-bottom: 10px;
    margin-top: 58px;
    height: 500px;
    box-shadow: 2px 5px 5px grey;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.friendName {
    margin-right: 10px;
}

.potentialFriendCard {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}